* { font-size: 14px; }

#cron {
  width: 590px;
  margin-top: 0px;
}

#error, #info, #results { display:none }

#results {
  margin:0px;
  padding:0px;
  text-align:center;
}

#results div {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;

}

#instructions {
  background-color: #eee;
  border: 2px solid grey;
  padding: 9px;
}

#instructions h3 {
  font-weight: bold;
  margin-bottom: 5px;
}

#instructions input {
  width: 85px;
}
